https://usercontent2.hubstatic.com/11728275_f520.jpgbody {
background-color: rgb(232, 215, 102);
}
h1 {
border-radius: 25px;
font-family: "Arial Black", Gadget, sans-serif;
text-align: center;
background-color: black;
color: white;
}
h2 {
font-family: "Arial Black", Gadget, sans-serif;
text-align: center;
}
ul {
border-radius: 25px;
display: flex;
justify-content: space-around;
align: center;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}
li {
font-family: "Arial Black", Gadget, sans-serif;
float: left;
text-align: justify;
}
li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
li a:hover {
background-color: #111;
}
p {
    margin: 10%;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
}
footer {
    text-align: center;
}
.yellow {
position: relative;
top: 21.5px;
display: flex;
}
.splashimg img {
width: 50%;
}
.splashimg img:hover {
margin:auto;
}
.help {
background-color: rgb(218, 122, 54);
border-radius: 25px;
width: 650px;
margin: auto;
}