h1{
  color: red;
  background-color: purple;
}

.something-awesome{
  color: green;
  background-color:orange;
  border: 5px dashed red;

  }

.pony-image{
  height:inherit; 50%;
  width: 50%
  }:

#awesome-pony{
  
}
